# 300_load_videogame_datasets

## Purpose

In this notebook we will be joining our two main datasets together by checking the game name of each row and comparing the two game names with each other. If the game names do match then we will add in the IGN dataset into our all time game sales dataset. We will also open our other datasets so we can prepare for the final analysis

## Datasets

- input : Clean_IGN_Games_Reviews.pkl && Clean_Game_sales_1996-2016.pkl 
- output : Clean_Combined.pkl

Importing the required libraries in order to open everything correctly

In [1]:
import os
import pandas as pd

In [2]:
# check the paths exist othewise error
if not os.path.exists("../../data/prep/Clean_IGN_Games_Reviews.pkl"):
    print("Missing Dataset File")

In [3]:
# check the paths exist othrwise error
if not os.path.exists("../../data/prep/Clean_Games_Sales_1996-2016.pkl"):
    print("Missing Dataset File")

## Loading the Datasets

In [4]:
# load in dataset and see if it was loaded in correctly
ign_games = pd.read_pickle("../../data/prep/Clean_IGN_Games_Reviews.pkl")
ign_games.shape

(18624, 7)

In [5]:
# check dataset was loaded in correctly
videogames = pd.read_pickle("../../data/prep/Clean_Games_Sales_1996-2016.pkl")
videogames.shape

(15739, 11)

As seen above we have loaded in all of our datasets so we can begin to merge the necessary dataframes

## Combining the Datasets

We will combine the IGN dataset with the videogames 2 dataset as the IGN dataset only has games from 1996 so thats why we needed to split the oiginal games sales so that it could be compared with the IGN dataset. We will do this by comparing the game names with each dataset and then if the game names are equal we will include the columns such as editors choice, genre and score

In [6]:
videogames.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Nintendo
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Nintendo
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Nintendo
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,Nintendo

In [7]:
ign_games.head()

,score_phrase,Name,Platform,score,genre,editors_choice,Date
0,Amazing,LittleBigPlanet PS Vita,PSV,9.0,Platformer,Y,2012-09-12
1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,PSV,9.0,Platformer,Y,2012-09-12
2,Great,Splice: Tree of Life,iPad,8.5,Puzzle,N,2012-09-12
3,Great,NHL 13,X360,8.5,Sports,N,2012-09-11
4,Great,NHL 13,PS3,8.5,Sports,N,2012-09-11

We will now store our new combined dataset in a dataframe called vieogames22. We are merging the datasets based on the common columns called Name and Platform. What this will do is check the Game name of both datasets and their platform and join the two datasets together if there is a match

In [8]:
# create a new dataset that will merge two datasets on Name and Platform
videogames2 = pd.merge(videogames, ign_games, on=['Name','Platform'])

In [9]:
# check if it was merged properly
videogames2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer,score_phrase,score,genre,editors_choice,Date
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Nintendo,Good,7.5,"Sports, Compilation",N,2006-11-13
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Nintendo,Great,8.5,"Racing, Action",Y,2008-04-20
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Nintendo,Good,7.7,Sports,N,2009-07-16
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,Nintendo,Amazing,9.5,Platformer,Y,2006-05-06
4,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,Nintendo,Great,8.9,Platformer,Y,2009-11-13

As we can see above the merge worked as we printed the first 5 lines of the new combined dataframe. What we will do now is see how many rows our new combined dataset has. As seen below we are dealing with 6434 unique rows of the games. In our new dataframe we now have the required columns such as scores and editors choice which we will need further in analysis.

In [10]:
# check how many lines the new dataset is 
videogames2.shape

(6434, 16)

We will also check how many missing values we are dealing with. As we can see below there are only missing values for developer this is because in earlier years the publisher was normally the developer so that explains the missing values we have.

In [11]:
# check for na values
videogames2.isnull().sum()

Name                 0
Platform             0
Year_of_Release      0
Genre                0
Publisher            1
NA_Sales             0
EU_Sales             0
JP_Sales             0
Other_Sales          0
Global_Sales         0
Developer          947
score_phrase         0
score                0
genre                1
editors_choice       0
Date                 0
dtype: int64

In [12]:
videogames2.tail()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer,score_phrase,score,genre,editors_choice,Date
6429,PGA European Tour,N64,2000.0,Sports,Infogrames,0.01,0.0,0.0,0.0,0.01,NaN,Bad,4.6,Sports,N,2000-06-12
6430,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.0,0.0,0.0,0.01,NaN,Unbearable,1.3,Racing,N,2000-07-28
6431,Breach,PC,2011.0,Shooter,Destineer,0.01,0.0,0.0,0.0,0.01,Atomic Games,Okay,6.0,Action,N,2011-02-07
6432,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.0,0.0,0.0,0.01,Interchannel-Holon,Bad,4.5,Compilation,N,2008-02-27
6433,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.0,0.0,0.0,0.01,Big John Games,Bad,4.0,Virtual Pet,N,2008-05-02

As we can see above our date column is an ordinary column so we will change this so that it will now be our index column which will be easier to analyse for specific years and months later on

In [13]:
# set the date column to be our index column 
videogames2.set_index('Date', inplace=True)

In [14]:
# check if it worked
videogames2.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Developer,score_phrase,score,genre,editors_choice
Date,,,,,,,,,,,,,,,
2006-11-13,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Nintendo,Good,7.5,"Sports, Compilation",N
2008-04-20,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Nintendo,Great,8.5,"Racing, Action",Y
2009-07-16,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Nintendo,Good,7.7,Sports,N
2006-05-06,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,Nintendo,Amazing,9.5,Platformer,Y
2009-11-13,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,Nintendo,Great,8.9,Platformer,Y

As we can see when we merged the datasets together there were columns that were similar and had the same contents. So we will clean this new combined dataset up by deleting the same columns so that we do not have overlapping columns. Below is the first five lines of the new updated dataframe with the deleted columns.

In [15]:
# delete duplicate columns 
# delete columns we hav two times or dont use
del videogames2['genre']
del videogames2['Year_of_Release']
del videogames2['Developer']
# check if the delete worked
videogames2.head()

,Name,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,score_phrase,score,editors_choice
Date,,,,,,,,,,,,
2006-11-13,Wii Sports,Wii,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,Good,7.5,N
2008-04-20,Mario Kart Wii,Wii,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,Great,8.5,Y
2009-07-16,Wii Sports Resort,Wii,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,Good,7.7,N
2006-05-06,New Super Mario Bros.,DS,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,Amazing,9.5,Y
2009-11-13,New Super Mario Bros. Wii,Wii,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,Great,8.9,Y

## Saving the Dataset

We will save the new dataset to a pickle file now so we can begin analysis

In [16]:
# columns that will be saved in the pickle 
cols = videogames2.columns

### Saving to a Pickle

In [17]:
videogames2[cols].to_pickle("../../data/prep/Clean_Combined.pkl")